@page "/login"
@page "/"
@rendermode InteractiveServer
@inject NavigationManager Nav

<div class ="page"> 
    <div class="login-container">
        <h2>Login</h2>
        <input type="text" name="username" placeholder="Benutzername" required>
        <input type="password" name="password" placeholder="Passwort" required>
        <button @onclick="btnLoginClick">Einloggen</button>    
        <span>Kein Account?</span>
        <NavLink href="/SignUp">Account erstellen</NavLink>
    </div>
</div>

@code {
    private void btnLoginClick()
    {
        Nav.NavigateTo(uri: "/MainMenu");
    }
}
