@using BagBeasts.src.Beast;
@page "/test"
@rendermode RenderMode.InteractiveServer

<PageTitle>Test</PageTitle>

<button @onclick="newDB">ResetDB</button>

@code {
    private List<BagBeast>? bagbeasts;

    protected override async Task OnInitializedAsync()
    {
        // var reader = new src.Database.datareader();
        // bagbeasts = reader.BagBeastsFromDb();
    }
    private void newDB(MouseEventArgs args)
    {
        // var reader = new src.Database.datareader();
        // reader.newDB();
    }
}
